<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="SMSChat.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
  
    <HeadOutlet />
</head>

<body>
    <Routes />
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/5.0.11/signalr.min.js"></script> <!-- Add this line -->
    <script src="/js/webrtc.js"></script>
    <script src="/js/site.js"></script> <!-- Add custom jQuery script -->
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
